.carousel {
    margin-top: 2rem;
    
}

.carousel-item img {
    width: 150px;
    height: 100%;
    margin: 1rem auto;
    display: block;
}

.carousel-caption {
    color: black;
    position: relative;
    text-align: center;
    padding: 1rem 0;
}

.carousel a {
    height: 300px;
}
